*{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none; 
}

body {
	font-family:'Segoe UI';
	margin: 0;
	background-color: black;
	overflow: hidden;
}

#myCanvas {
	position: fixed;
	display: block;
}

#cursor {
	pointer-events: none;
}

#gui {
	position: absolute;
	top: 4px;
	left: -4px;
}
#my-stat {
	position: fixed;
	bottom:2px;
	right:2px;
}
#loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -24px;
	margin-top: -24px;
}
#info {
	position: absolute;
	bottom: 6px;
	height: 20px;
	width: 350px;
	right: 10px;
	color: #a2a2a2;
	text-align: right;
	font-size:12px;
	font-weight:normal;
}
/*#intro {
    position: fixed;
    font-size:20px;
	display: block;
	top: 50%;
	left: 50%;
	width:400px;
	height:30px;
	text-align: center;
}*/
#debug {
	color: #c2c2c2;
	position: absolute;
	font-size:11px;
	bottom: 10px;
	width: 300px;
	margin-left: 10px;
	left: 0px;
}

/*#home {
	position: fixed;
	left: 200px;
	margin: 0;
    padding: 0;
    cursor: pointer;
}
#buttonMenu {
	position: fixed;
	right: 0px;
	top:31px;
	margin: 0;
    padding: 0;
}
#button {
	position: block;
	right: 0px;
    background:#000000;
    cursor: pointer;
    border:solid;
    border-color: #cccccc;
    vertical-align:middle;
    border-width:0px;
    font-size:10px;
}
.mlogo {
	height:16px;
	margin-right:10px;
	display:inline-block;

	vertical-align:-20%;
}
#MiniMenu {
	position: fixed;
	left:20px;
	top:50px;
	margin: 0;
    padding: 0;
}
#mbutton {
	height:25px;
	position: block;
	right: 0px;
    margin: 0px;
    padding: 0;
    cursor: pointer;
    font-size:12px;
}*/

a { color: #ffcc66; text-decoration:none; cursor: pointer}
a:visited { color: #996633; text-decoration:none}

#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #c2c2c2 !important }
#stats #fps #fpsGraph { display: none }


/*******************************/
/* global document body styles */
/*******************************/

/*body {
  background: black;
  color:      #CCC;
  user-select: none;
}*/

/**************************/
/* unique id-based styles */
/**************************/

#gauntlet       { margin: 1em auto; position: fixed; right:0px; top:31px; }
#booting        { position: absolute; width: 6%; left: 30%; top: 40%;      } 
#splash         { position: absolute; display: none; right:120px;}
#canvas         { display: inline-block; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#help           { position: absolute; width: 33%; left: 22%; top: 30%; text-align: left; font-size: 1.5em; font-weight: bold; background-color: rgba(255, 255, 255, 0.75); border: 6px solid black; color: black; padding: 1em; display: inline-block; border-radius: 0.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#scoreboard     { display: inline-block; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#stats          { position: absolute; right:10px; bottom: -120px; color: white; }

#gauntlet.menu #splash { display: inline-block; }
#gauntlet.help #canvas { opacity: 0.5; }

/**************/
/* scoreboard */
/**************/

#scoreboard { text-align: center; }

#scoreboard #logo             { width: 100%; }
#scoreboard .level            { margin-top: 0px; margin-bottom: 0px; }
#scoreboard hr                { width: 50%; margin: 1em auto; border: 1px solid #111; border-top: 0px; border-left: 0px; border-right: 0px; }
#scoreboard .high             { margin-bottom: 2em; font-size: 82.5%; opacity: 0.5; }
#scoreboard .high .value      { font-weight: bold; }

#scoreboard .player           { height: 6em; border: 2px solid #222; margin: 1em 0.5em; padding: 0.5em 0; opacity: 0.5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#scoreboard .player .name     { font-weight: bold; }
#scoreboard .player .score    { display: none; }
#scoreboard .player .health   { display: none; }
#scoreboard .player .treasure { display: none; }
#scoreboard .player .press    { color: #999; margin-top: 1em; }
#scoreboard .player .press b  { color: white; }
#scoreboard .player .multi    { color: #666; font-style: italic; margin-top: 1em; font-size: 82.5%; }

#scoreboard .player.active           { opacity: 1.0; }
#scoreboard .player.active .score    { display: inline-block; text-align: right; margin-right: 1em; }
#scoreboard .player.active .health   { display: inline-block; text-align: left;  margin-left:  1em; }
#scoreboard .player.active .treasure { display: block; text-align: left; margin: 0 0.5em; margin-top: 0.25em; }
#scoreboard .player.active .label    { opacity: 0.7; font-size: smaller; }
#scoreboard .player.active .value    { opacity: 1.0; font-weight: bold;  }

#scoreboard .player .treasure img.key    { margin-right: 2px;               width: 1em; height: 1em; }
#scoreboard .player .treasure img.potion { margin-left:  0px; float: right; width: 1em; height: 1em; }

#scoreboard #warrior         { color: #F90503; }
#scoreboard #valkyrie        { color: #08B4F0; }
#scoreboard #wizard          { color: #F5FC00; }
#scoreboard #elf             { color: #00FF03; }

#scoreboard #warrior  .press b { color: #F90503; }
#scoreboard #valkyrie .press b { color: #08B4F0; }
#scoreboard #wizard   .press b { color: #F5FC00; }
#scoreboard #elf      .press b { color: #00FF03; }

#scoreboard #warrior.active  { border-color: #F90503; }
#scoreboard #valkyrie.active { border-color: #08B4F0; }
#scoreboard #wizard.active   { border-color: #F5FC00; }
#scoreboard #elf.active      { border-color: #00FF03; }

#scoreboard #warrior.weak  { background-color: #F90503; }
#scoreboard #valkyrie.weak { background-color: #08B4F0; }
#scoreboard #wizard.weak   { background-color: #F5FC00; }
#scoreboard #elf.weak      { background-color: #00FF03; }

#scoreboard .high.warrior  .value { color: #F90503; }
#scoreboard .high.valkyrie .value { color: #08B4F0; }
#scoreboard .high.wizard   .value { color: #F5FC00; }
#scoreboard .high.elf      .value { color: #00FF03; }

#gauntlet         #scoreboard .player        .press { display: none;  }
#gauntlet.menu    #scoreboard .player        .press { display: block; }
#gauntlet         #scoreboard .player        .multi { display: block; }
#gauntlet.booting #scoreboard .player        .multi { display: none;  }
#gauntlet.menu    #scoreboard .player        .multi { display: none;  }
#gauntlet         #scoreboard .player.active .multi { display: none;  }

#sound     {  display: inline-block; cursor: pointer; position: absolute; right: 20px; bottom: -10px;}
#sound.on {}
#sound.off {}

/*****************************/
/* @media query based layout */
/*****************************/

@media screen and (min-width:    0px) and (min-height:    0px) { #gauntlet { width:  512px; height: 384px; font-size:  7pt; } #canvas { width: 384px; height: 384px; } #splash { width: 30px; height: 30px; } #scoreboard { width: /*  512 - 384 - 8 = */ 120px; height: 384px; } } /* block = 16 */
